In [1]:
from datetime import datetime

from trading_strategy_tester.trading_series.rsi_series import RSI
from trading_strategy_tester.conditions.logical_conditions import AndCondition
from trading_strategy_tester.conditions.technical_conditions import GreaterThanCondition, LessThanCondition
from trading_strategy_tester.strategy.strategy import Strategy, Interval

ticker = 'AAPL'

strat = Strategy(ticker,
         AndCondition(
             LessThanCondition(
                 RSI(ticker=ticker, length=21), 
                 RSI(ticker=ticker, length=14)
             ),
             GreaterThanCondition(
                 RSI(ticker='TSLA', length=21),
                 RSI(ticker='TSLA', length=14)
             )
         ),
         AndCondition(
             LessThanCondition(
                 RSI(ticker=ticker, length=12), 
                 RSI(ticker=ticker, length=16)
             ),
             GreaterThanCondition(
                 RSI(ticker='DELL', length=14),
                 RSI(ticker='DELL', length=26)
             )
         ),
         start_date=datetime(2020, 1, 1),
         end_date=datetime(2024, 1, 1),
         interval=Interval.ONE_DAY)


df = strat.execute()

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [2]:
df

,Open,High,Low,Close,Adj Close,Volume,BUY,SELL
Date,,,,,,,,
2020-01-02,74.059998,75.150002,73.797501,75.087502,72.876106,135480400,False,False
2020-01-03,74.287498,75.144997,74.125000,74.357498,72.167603,146322800,False,False
2020-01-06,73.447502,74.989998,73.187500,74.949997,72.742645,118387200,False,False
2020-01-07,74.959999,75.224998,74.370003,74.597504,72.400558,108872000,False,False
2020-01-08,74.290001,76.110001,74.290001,75.797501,73.565186,132079200,False,False
...,...,...,...,...,...,...,...,...
2023-12-22,195.179993,195.410004,192.970001,193.600006,192.868149,37122800,False,True
2023-12-26,193.610001,193.889999,192.830002,193.050003,192.320206,28919300,False,True
2023-12-27,192.490005,193.500000,191.089996,193.149994,192.419830,48087700,False,True
2023-12-28,194.139999,194.660004,193.169998,193.580002,192.848206,34049900,False,False
2023-12-29,193.899994,194.399994,191.729996,192.529999,191.802170,42628800,False,True